
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aquamarine;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    font-weight: 600;
    font-style: italic;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: rgb(127, 41, 177);
}
header{
    background-color: aqua;
    padding: 1.5rem 2rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between; 
    align-items: center;
    list-style: none;
    
}
a{
    color: rgb(127, 41, 177);
    text-decoration: none;
}
a:hover{
    color: blueviolet;

}
a:active{
    color:brown
}
main{
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 2rem;
}
footer{
    text-align: center;
    padding: 1.5rem;
    font-size: 0.9rem;
}
