header{
    background-color: #fdc201;
    text-align: center;
    
}

header img{
    padding-bottom: 10px;
}

#formContacto{
    max-width: 720;
}
#menu{
    background-color: aliceblue;
    padding: 12px;
    text-align: center;
}
#menu a{
    padding: 15px; 
    color:coral; 
    font-weight: bold; 
    text-decoration: none;
}

}
#productos{
    display: grid;
    grid-template-columns: 1fr ;
    /*background-color: aqua;*/
    width: 95%;
    margin: 20px auto;

}

.card-producto{
    max-width: 250px;
    text-align: center;
    font-size: 15px;
    background-color: #dcdcdc;
    border-style: dashed;
    border-width: 3px;
    border-color: #696969;
    border-radius: 20px;
    margin: 10px auto;

}
.card-producto img{
    width: 200px;
    padding: 5px;
}

.card-producto h2{
    font-size: 15px;
}

@media (min-width:720px){
    #productos{
         grid-template-columns: 1fr 1fr;
    }

}

@media (min-width:1024px){
    #productos{
         grid-template-columns: 1fr 1fr 1fr;
    }

}

